<span class="pin-glow-animate"></span>
<div class="s-rank__decor" data-spec="motionPath">
	{% include '_components/home/rank-line-svg.twig' %}
	<span id="dot-run-2" class="dot-run"></span>
	<img class="dash-line-decor" src="{{assets_url}}/images/decor-dash-line-1.png"/>
	<img class="plus-decor" src="{{assets_url}}/images/decor-plus.png"/>
</div>
<h3 class="headline-utm">bảng xếp hạng</h3>
<div class="rank-list__container">
	<ul class="rank-list__ul">
		{% for player in leaderboard %}
			{% if loop.index == 1 %}
				<li class="rank-gold">
			{% elseif loop.index == 2 %}
				<li class="rank-silver">
			{% elseif loop.index == 3 %}
				<li class="rank-bronze">
			{% endif %}
				<h4 class="name">{{ player.display_name }}</h4>
				<p class="points">{{ player.current_point|number_format(0,',','.') }} điểm</p>
			</li>
		{% endfor %}
	</ul>
	<a href="{{ page_url.leaderboard }}" class="text-link">Xem tất cả</a>
</div>
